

<mat-sidenav-container class="app-sidenav-container">

  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" 
                [opened]="!isScreenSmall()"
                [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary">
      Groups
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>add</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openAddGroupDialog()">Add New Group</button>
        </mat-menu>
    </mat-toolbar>
    
    <mat-nav-list>
      <mat-list-item *ngFor="let group of groups | async">
        <a matLine [routerLink]="['/keep/dashboard/group', group.groupId]">{{group.title}}</a>
        <span class="example-spacer"></span>
        <button mat-button (click)="deleteGroup(group.groupId, group.title)"> <mat-icon>delete</mat-icon> </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">
      <app-toolbar (sidenavToggle)="sidenav.toggle()"></app-toolbar>
      <app-note-taker></app-note-taker>
      <div class="wrapper">
        <router-outlet></router-outlet>
        <router-outlet name="noteEditOutlet"></router-outlet>
      </div>
  </mat-sidenav-content>

</mat-sidenav-container>