.sidenav-toggle {
    display:  none;

    @media (max-width: 720px) {
        display: block;
    }
}

.example-spacer {
    flex: 1 1 auto;
}

.red {
    color: red;
}

.list {
    margin-bottom: 5px;
}

.list-item {
    padding: 5px;
}