
/*.example-card { 
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
}*/

.keep-comp-note-taker-wrapper{
    display: flex;
    flex-direction: column;
}

.login-tab {
    min-width: 150px;
    max-width: 360px;
    width: 100%;
    margin: auto;
}